main.launch {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;

    section.main-launch {

        div.wrap-main-launch {


        }
    }
}