section.second-presentation {

    div.wrap-second-presentation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 0;

        div.content-second {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: em(48);
                margin-bottom: 40px
            }

            p {
                @include font-tertiary;
                margin-bottom: 30px;
                font-size: em(21);
            }

            > a {
                display: block;
                background: #457c05;
                color: #fff;
                font-family: sans-serif;
                font-weight: 700;
                padding: 20px 60px;
                text-transform: uppercase;
                text-align: center;
                -webkit-border-radius: 7px;
                border-radius: 7px;
                font-size: em(20);
                width: 50%;
            
            }
        }

        div.gallery-second {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            div.gallery-photo {

                
                display: block;

                img {
                    // width: 100%;
                    height: 100%;
                    border-radius: 30px;
                }
                
            }
        }
    }
}