$primary-color: #FFFFFF;
$button-color: #457C05;

@use "sass:math";
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @return math.div($pixels, $context) * 1em;
}

$z-index: (
  header        : 900,
  
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

@mixin font-primary {
  font-family: 'Getsrek', sans-serif;
}

@mixin font-secondary {
  font-family: 'Montserrat', sans-serif;
}

@mixin font-tertiary {
  font-family: 'Montserrat', sans-serif;
}


@mixin transition {
  transition: 0.2s ease-in-out;
}
